body {
  /* width: 100%; */
  padding: 0px;
  margin: 0px;
  direction: rtl;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  color: #444;
}

nav {
  background-color: white;
  width: 100%;
  height: 65px;
  color: #5f687b;
  padding: 5px auto;
  font-size: 20px;
  letter-spacing: 0.5px;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  /* box-shadow: 1px 0px 4px 7px #8080807d; */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 546464564;
}

nav .fa-solid {
  display: none;
}

nav .nav-left {
  font-size: 20px;
  line-height: 1;
  font-weight: bolder;
  letter-spacing: 0.5px;
  font-weight: bolder;
}

nav .nav-left a {
  text-decoration: none;
  color: #5f687b;

  letter-spacing: 0.5px;
}

nav .nav-left .logo a .s1 {
  color: #f38300;
  font-weight: bolder;
}

nav .nav-left .logo .s2 {
  color: #03b0db;
  font-weight: bolder;
}

nav .nav-left {
  margin-right: 130px;
  line-height: 1;
}

nav .nav-right {
  margin-left: 90px;
}

nav .nav-right ul li {
  list-style-type: none;
  float: right;
  padding: 5px;
  margin-left: 5px;
}

nav .nav-right ul .start a {
  padding: 5px 25px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  color: #5f687b;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #cdd1d9;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

nav .nav-right ul .start a:hover {
  background-color: #206bfb;
  color: white;
}

nav .nav-right ul .nav-right1 a,
nav .nav-right ul .nav-right2 a,
nav .nav-right ul .nav-right3 a,
nav .nav-right ul .nav-right4 a,
nav .nav-right ul .nav-right5 a {
  padding: 5px 5px;
  margin-left: 20px;
  line-height: 1;
  font-family: Raleway, sans-serif;
  color: #5f687b;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

nav .nav-right ul .nav-right1 a {
  color: #09b8dc;
}

nav .nav-right ul .nav-right2 a:hover,
nav .nav-right ul .nav-right3 a:hover,
nav .nav-right ul .nav-right4 a:hover,
nav .nav-right ul .nav-right5 a:hover {
  color: #09b8dc;
}

/* -------------(content2)------------------------------------ */
.content2 {
  padding: 29px;
  margin: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.content2 .card1 h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #3e4450;
}

.content2 .card1 p {
  color: #858ea1;
  margin: 10px 0 30px 0;
  font-size: 24px;
}

.content2 .card1 a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #01b8dc;
  box-shadow: 0 8px 28px rgba(22, 223, 126, 0.45);
  text-decoration: none;
}

.content2 .card1 a:hover {
  background-color: #206bfb;
}

.content2 .card2 img {
  animation: up-down;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  /* 75% {
    transform: translateY(-40px);
  } */
  100% {
    transform: translateY(0px);
  }
}

/* --------(conent3)----------------------------------- */
.content3 {
  background-color: white;
  width: 85%;
  height: 150px;
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  font-size: 13px;
  font-weight: bold;
}

.content3 .card1,
.content3 .card2 {
  padding: 20px;
  color: #5f687b;
  background: #f9f9fa;
  border-radius: 4px;
  border: 1px solid #f9f9fa;
  transition: 0.3s;
  width: 45%;
}

.content3 .card1 .title a,
.content3 .card2 .title a {
  color: #5f687b;
  transition: 0.3s;
  text-decoration: none;
  font-size: 18px;
}

.content3 .card1 .title a:hover,
.content3 .card2 .title a:hover {
  color: #36c1e1;
}

.content3 .card1 .icon,
.content3 .card2 .icon {
  color: #01b8dc;
  font-size: 25px;
}

/* ---------(content4)----------------------------------------- */
.content4 {
  background-color: white;
  width: 85%;
  height: 500px;
  margin: 40px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  font-size: 16px;
}

.content4 .card1,
.content4 .card2 {
  padding: 20px;
  color: black;
  background-color: white;
  border-radius: 4px;

  transition: 0.3s;
  height: 100%;
  width: 45%;
}

.content4 .card1 img {
  width: 100%;
}

.content4 .card2 h3 {
  color: #5f687b;
  font-size: 25px;
  font-weight: bold;
}

.content4 .card2 p {
  color: #444;
}

/* -------(content5)--------------------------------------------------------------------- */

.content5 {
  width: auto;
  padding-top: 50px;
  height: 880px;
  background: #f9f9fa;
}

.content5 .section-title {
  padding: 25px;
  margin: 20px auto;
  text-align: center;
}

.content5 .section-title h2 {
  position: relative;
  color: rgb(95, 104, 123);
  font-size: 33px;
}
.content5 .section-title h2 span {
  color: #f0f1f3;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
  position: absolute;
  /* top: 30px; */
  left: 45%;
}

.content5 .cards {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
}

.content5 .cards .card1,
.content5 .cards .card2,
.content5 .cards .card3,
.content5 .cards .card4,
.content5 .cards .card5,
.content5 .cards .card6,
.content5 .cards .card7,
.content5 .cards .card8,
.content5 .cards .card9,
.content5 .cards .card10,
.content5 .cards .card11,
.content5 .cards .card12 {
  width: 20%;
  color: #4d5e82;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #f9f9fa;
  transition: 0.3s;
  height: 100%;
  padding: 10px;
  margin: 14px;
}

.content5 .cards .card1 h4 a,
.content5 .cards .card2 h4 a,
.content5 .cards .card3 h4 a,
.content5 .cards .card4 h4 a,
.content5 .cards .card5 h4 a,
.content5 .cards .card6 h4 a,
.content5 .cards .card7 h4 a,
.content5 .cards .card8 h4 a,
.content5 .cards .card9 h4 a,
.content5 .cards .card10 h4 a,
.content5 .cards .card11 h4 a,
.content5 .cards .card12 h4 a {
  color: #5f687b;
  font-size: 20px;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.content5 .cards .card1 h4 a:hover,
.content5 .cards .card2 h4 a:hover,
.content5 .cards .card3 h4 a:hover,
.content5 .cards .card4 h4 a:hover,
.content5 .cards .card5 h4 a:hover,
.content5 .cards .card6 h4 a:hover,
.content5 .cards .card7 h4 a:hover,
.content5 .cards .card8 h4 a:hover,
.content5 .cards .card9 h4 a:hover,
.content5 .cards .card10 h4 a:hover,
.content5 .cards .card11 h4 a:hover,
.content5 .cards .card12 h4 a:hover {
  color: #01b8dc;
}

.content5 .cards .icon {
  color: #01b8dc;
  font-size: 20px;
}

.content5 .section-bottom {
  padding-top: 50px;
  text-align: center;
}

.content5 .section-bottom h2 {
  position: relative;
  font-weight: bold;
  color: rgb(95, 104, 123);
  font-size: 33px;
}

.content5 .section-bottom h2 span {
  font-size: 50px;
  position: absolute;
  top: -34px;
  left: 46%;
  color: rgb(240, 241, 243);
  font-weight: bold;
}

.content5 .section-bottom p {
  color: black;
}

/* -----------(content6)-------------------------------------------------------------------- */
.content6 {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 90%;
  margin: 20px auto;
}

.content6 .header {
  text-align: center;
}

.content6 .header h2 {
  position: relative;
  font-weight: bold;
  color: rgb(95, 104, 123);
  font-size: 33px;
  z-index: 545454545;
}

.content6 .header h2 span {
  font-size: 45px;
  position: absolute;
  top: -34px;
  left: 600px;
  color: rgb(240, 241, 243);
  font-weight: bold;
}

.content6 .header p {
  color: black;
}

.content6 .body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.content6 .body .card1 {
  background-color: #f9f9fa;
  width: 42%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  border-top: 3px solid #01b8dc;
  border-bottom: 3px solid #01b8dc;
}

.content6 .body .card1 .info,
.content6 .body .card1 .email,
.content6 .body .card1 .phone,
.content6 .body .card1 .adress {
  width: 100%;
  height: 60px;
  padding: 21px;
}

.content6 .body .card1 .info h4,
.content6 .body .card1 .email h4,
.content6 .body .card1 .phone h4,
.content6 .body .card1 .adress h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #5f687b;
}

.content6 .body .card1 .info p,
.content6 .body .card1 .email p,
.content6 .body .card1 .phone p,
.content6 .body .card1 .adress p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #949cac;
}

.content6 .body .card1 .info i,
.content6 .body .card1 .email i,
.content6 .body .card1 .phone i,
.content6 .body .card1 .adress i {
  font-size: 20px;
  text-align: center;
  color: #01b8dc;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  width: 44px;
  height: 38px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.content6 .body .card1 .info i:hover,
.content6 .body .card1 .email i:hover,
.content6 .body .card1 .phone i:hover,
.content6 .body .card1 .adress i:hover {
  background-color: #01b8dc;
  color: #fff;
  /* font-size: 35px; */
}

.content6 .body .card1 .adress iframe {
  width: 100%;
  height: 300px;
}

.content6 .body .card1 .info p,
.content6 .body .card1 .email p,
.content6 .body .card1 .phone p,
.content6 .body .card1 .adress p {
  color: #96a6bf;
}

.content6 .body .card2 {
  background-color: #f9f9fa;
  width: 52%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  border-top: 3px solid #01b8dc;
  border-bottom: 3px solid #01b8dc;
  justify-content: space-around;
  align-items: flex-start;
}

.content6 .body .card2 .row1,
.content6 .body .card2 .row2,
.content6 .body .card2 .row3,
.content6 .body .card2 .row4 {
  padding-bottom: 5px;
  margin: 5px;
}

.content6 .body .row1 {
  padding-top: 40px;
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-between;
}

.content6 .body .row1 .name {
  width: 50%;
}

.content6 .body .row1 .email {
  width: 50%;
}

.content6 .row1 input {
  width: 95%;
  height: 35px;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  display: block;
  width: 80%;
  /* padding: 0.375rem 0.75rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  box-shadow: 0.15s ease-in-out;
}

.content6 .row2 {
  padding-bottom: 5px;
  width: 92%;
  height: 40px;
}

.content6 .body .card2 .row2 input {
  width: 94%;
  height: 35px;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  display: block;
  /* padding: 1.375rem 0.75rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  box-shadow: 0.15s ease-in-out;
}

.content6 .body .card2 .row3 {
  width: 92%;
  height: 200px;
}

.content6 .body .card2 .row3 textarea {
  width: 93%;
}

.content6 .body .card2 .row4 {
  text-align: center;
  width: 85%;
}

.content6 .body .card2 .row4 button {
  background: #01b8dc;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
}

.content6 .body .card2 .row4 button:hover {
  background-color: #206bfb;
}

/* ------------(content7)-------------------------------------------- */
.content7 {
  background-color: #f3f4f6;
  /* width: 100%; */
  height: 300px;
}

.content7 .header h3 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 80px;
  color: #5f687b;
  position: relative;
  font-family: Poppins, sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

.content7 .social-links {
  padding: 30px 5px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.content7 .social-links a {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 20px;
  transition: 0.3s;
}

.content7 .social-links a:hover {
  background-color: #206bfb;
  color: #eaecef;
}

.content7 .footer {
  border-top: 1px solid #d9dce2;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.content7 .copyright {
  padding-left: 20px;
}

.content7 .copyright span {
  font-weight: 900;
}

.content7 .credits {
  padding-right: 20px;
}

.content7 .credits a {
  color: #14c871;
  text-decoration: none;
}

.content7 .credits a:hover {
  color: #2a72fb;
}

.back-to-top:active {
  visibility: visible;
  opacity: 1;
}

.back-to-top a i {
  position: fixed;
  text-align: center;
  font-size: 20px;
  justify-content: space-evenly;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #01b8dc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  align-items: center;
  color: white;
}

.back-to-top a i:hover {
  background-color: #33eb92;
}

/* --------------(responsives)------------- */
/* --------(mobiles)------------------- */
@media (max-width: 780px) {
  .content2 {
    padding-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    /* height: ; */
  }

  .content2 .card1 p {
    font-size: 15px;
  }
  .content2 .card1 {
    height: 320px;
  }
  .content2 .card1 h2 {
    font-size: 22px;
    text-align: center;
  }

  nav .nav-left {
    margin-right: 5px;
  }
  nav .nav-left a {
    font-size: 15px;
  }
  .content2 .card2 img {
    width: 100%;
  }
  nav {
    /* width: auto; */
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    position: fixed;
    height: 50px;
    justify-content: space-around;
    align-items: center;
  }

  nav .nav-right {
    display: none;
  }

  nav .fa-solid {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 25px;
  }

  .content3 {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
  }

  .content3 .card1,
  .content3 .card2 {
    width: auto;
  }

  .content4 {
    height: 1350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .content4 .card1,
  .content4 .card2 {
    width: 100%;
    height: 90px;
  }
  .content4 .card2 p {
    font-size: 15px;
    width: 100%;
  }
  .content5 {
    height: 1757px;
  }

  .content5 .cards .card1 h4 a,
  .content5 .cards .card2 h4 a,
  .content5 .cards .card3 h4 a,
  .content5 .cards .card4 h4 a,
  .content5 .cards .card5 h4 a,
  .content5 .cards .card6 h4 a,
  .content5 .cards .card7 h4 a,
  .content5 .cards .card8 h4 a,
  .content5 .cards .card9 h4 a,
  .content5 .cards .card10 h4 a,
  .content5 .cards .card11 h4 a,
  .content5 .cards .card12 h4 a {
    font-size: 10px;
  }
  .content5 .section-bottom p {
    color: black;
    font-size: 14px;
    line-height: 31px;
  }

  .content6 .header h2 span {
    position: absolute;
    top: -25px;
    left: 17%;
    font-size: 28px;
  }

  .content5 .section-title h2 span {
    position: absolute;
    top: -6px;
    left: 10%;
    font-size: 38px;
  }

  .content5 .section-bottom h2 span {
    font-size: 50px;
    position: absolute;
    top: -34px;
    left: 23%;
    color: rgb(240, 241, 243);
    font-weight: bold;
    font-size: 39px;
  }
  .content6 {
    font-size: 10px;
  }

  .content6 .body .card1 {
    font-size: 10px;
    width: 89%;
  }
  .content6 .header {
    padding-top: 10px;
  }
  .content6 .body .card1 .info h4,
  .content6 .body .card1 .email h4,
  .content6 .body .card1 .phone h4,
  .content6 .body .card1 .adress h4 {
    font-size: 15px;
  }
  .content6 .header h2 {
    font-size: 25px;
    width: 87%;
  }
  .content6 .header h2 span {
    position: absolute;
    top: -26px;
    left: 14%;
    font-size: 31px;
  }
  .content6 .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 946px;
  }

  .content6 .body .card1 .info p,
  .content6 .body .card1 .email p,
  .content6 .body .card1 .phone p,
  .content6 .body .card1 .adress p {
    font-size: 15px;
  }
  .content6 .body .card1 {
    width: 98%;
  }
  .content6 .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    height: 1448px;
  }
  .content6 .body .card2 {
    width: 98%;
  }
  .content6 .body .card2 .row1 {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  .content6 .body .row1 .name {
    width: 95%;
  }

  .content6 .body .row1 .email {
    width: 95%;
  }

  .content6 .body .row1 {
    padding-top: 6px;
  }

  .content6 .body .card1 .info i,
  .content6 .body .card1 .email i,
  .content6 .body .card1 .phone i,
  .content6 .body .card1 .adress i {
    font-size: 25px;
    text-align: center;
    color: #01b8dc;
    float: left;
    margin-top: 10px;
    margin-left: -0px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    width: 3px;
    height: 3px;
  }
  .content6 .body .card1 .info p,
  .content6 .body .card1 .email p,
  .content6 .body .card1 .phone p,
  .content6 .body .card1 .adress p {
    font-size: 10px;
    width: 82%;
  }
  .content7 .footer {
    border-top: 1px solid #d9dce2;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    height: 162px;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-end;
    align-content: space-around;
  }

  .content7 .copyright {
    text-align: center;
  }
  .content7 .credits {
    text-align: center;
  }
  .content7 {
    height: 20px;
  }
}

/* --------(Tablets)------------------- */

@media (min-width: 781px) and (max-width: 1045px) {
  .content2 {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
  }
  .content2 .card2 img {
    width: 100px;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    width: 550px;
    padding: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
  }

  nav .nav-right {
    display: none;
  }

  nav .fa-solid {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 10px 80px;
    font-size: 30px;
  }

  .content3 {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
  }

  .content3 .card1,
  .content3 .card2 {
    width: auto;
  }

  .content4 {
    height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .content4 .card1,
  .content4 .card2 {
    width: 100%;
    height: 100px;
  }

  .content5 {
    height: 1050px;
  }

  .content5 .section-title {
    padding: 25px;
    margin: 20px auto;
    text-align: center;
  }
  .content5 .section-title h2 {
    text-align: center;
    width: 100%;
  }

  .content5 .section-bottom h2 span {
    position: absolute;
    top: -34px;
    left: 46%;
  }

  .content6 .header {
    padding-top: 10px;
  }

  .content6 .header h2 span {
    position: absolute;
    /* top: -34px; */
    left: 40%;
  }

  .content7 {
    height: 35px;
  }
}
/* ---------------------(LAP+TV)------------------------ */
